
<table class="table table-striped table-condensed" id="customers">
  <tr>
  	<th>Customer Number</th>
   	<th>Restaurant Name</th>
  	<th>Street Address</th>
  	<th>City</th>
  	<th>Postal Code</th>
  	<th>Province</th>
  	<th>Phone</th>
  	<th>Email</th>
  	<th>Contact Name</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
  	<td><%= customer.customer_number %></td>
   	<td><%= customer.restaurant_name %></td>
  	<td><%= customer.street_address %></td>
  	<td><%= customer.city %></td>
  	<td><%= customer.postal_code %></td>
  	<td><%= customer.province %></td>
  	<td><%= customer.phone %></td>
  	<td><%= customer.email %></td>
  	<td><%= customer.contact_name %></td>
  </tr>
<% end %>  
</table>